name: Build and Deploy

on:
  workflow_call:
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4.1.7
        with:
          repository: 'nicolasfara/experiments-modularization-framework'
          token: ${{ github.token }}
          path: 'test-1'
      - uses: actions/checkout@v4.1.7
        with:
          repository: 'nicolasfara/experiments-modularization-framework'
          token: ${{ github.token }}
          path: 'test-2'
      - uses: actions/checkout@v4.1.7
        with:
          path: 'action'
      - name: Fake commit
        working-directory: 'test-1'
        run: |
          git config --global user.name "nicolasfara"
          git config --global user.email "nicolas.farabegoli@gmail.com"
          echo "foobar" >> deleteme.txt
          git add deleteme.txt && git commit -m "fix: fake commit"
      - name: Use the action
        uses: ./action
        id: precompute-version
        with:
          github-token: ${{ github.token }}
          working-directory: './test-1'
      - name: Test action outputs
        run: |
          echo "Branch: ${GITHUB_REF##*/}"
          if [[ "${GITHUB_REF##*/}" == "master" ]]; then
            [[ "${{ steps.precompute-version.outputs.next-version }}" != "" ]] || (echo "Next version should be defined" && exit 1)
            [[ "${{ steps.precompute-version.outputs.will-release }}" == "true" ]] || (echo "will-release should be true" && exit 2)
          else
            [[ "${{ steps.precompute-version.outputs.next-version }}" == "" ]]
            [[ "${{ steps.precompute-version.outputs.will-release }}" == "false" ]]
          fi
      - name: Test no release
        working-directory: 'test-2'
        run: |
          git config --global user.name "nicolasfara"
          git config --global user.email "nicolas.farabegoli@gmail.com"
          echo "foobar" >> deleteme.txt
          git add deleteme.txt && git commit -m "chore: fake commit"
      - uses: ./action
        id: precompute-no-version
        with:
          github-token: ${{ github.token }}
          working-directory: './test-2'
      - name: Test action outputs
        run: |
          [[ "${{ steps.precompute-no-version.outputs.next-version }}" == "" ]]
          [[ "${{ steps.precompute-no-version.outputs.will-release }}" == "false" ]]

  release:
    needs: [test]
    runs-on: ubuntu-latest
    if: github.event_name == 'push'
    steps:
      - name: checkout
        uses: actions/checkout@v4.1.7
        with:
          fetch-depth: 0
          token: ${{ secrets.PERSONAL_TOKEN }}
      - name: Release with semantic-release
        if: >-
          !github.event.repository.fork
          && (github.event_name != 'pull_request' ||
            github.event.pull_request.head.repo.full_name == github.repository
          )
          && github.ref == 'refs/heads/master'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          npm ci
          npx semantic-release

  success:
    runs-on: ubuntu-latest
    needs:
      - test
      - release
    if: >-
      always() && (
        contains(join(needs.*.result, ','), 'failure')
        || !contains(join(needs.*.result, ','), 'cancelled')
      )
    steps:
      - name: Verify that there were no failures
        run: ${{ !contains(join(needs.*.result, ','), 'failure') }}
